<section>
  <div class="background">
    <button (click)="closeEditCard()"><img src="./../../../../assets/img/cross.svg" alt="cross" /></button>
  </div>
  <div class="new-todo-box">
    <form action="" (ngSubmit)="editTodo()">
      <span>Titel</span>
      <input
        type="text"
        name="title"
        [(ngModel)]="title"
        required
        placeholder="Title here"
        class="title-input"
      />
      <span>Description</span>
      <textarea
        type="text"
        name="description"
        [(ngModel)]="description"
        required
        placeholder="Description here"
      ></textarea>
      <div class="card-bottom">
        <button class="grey-btn">Edit todo</button>
      </div>
    </form>
  </div>
</section>
