@import "./../../../styles.scss";

header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: calc(100% - 2rem);
  height: 3.5rem;
  background-color: #364958;
  padding-left: 2rem;
  gap: 1.5rem;
  > div {
    @include dFlex($g: 1rem);
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-decoration: none;
    }
  }
}

.side-menu {
  @include dFlex($jc: start, $g: 2rem);
  padding: 1rem;
  width: 10rem;
  height: calc(100vh - 2rem);
  background-color: #364958;
  position: absolute;
  top: 0;
  // left: 0;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.075);
  left: -15.625rem;
  transition: left 1s ease;
  &.open {
    left: 0;
  }
  > div {
    @include dFlex($g: 2rem);
    flex-direction: column;
  }
}

button {
  // height: 3rem;
  width: 3rem;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #364958;
  color: white;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  > img {
    height: 3rem;
    width: 2.5rem;
  }
}

.linkbox {
  @include dFlex();

  > a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
