@import "./../../../styles.scss";

section {
  @include dFlex($g: 1rem);
  margin: 0;
  padding: 1.25rem;
  flex-wrap: wrap;
  font-family: $poppinsFont;
  height: 100%;
}

.todo-card {
  @include dFlex($jc: space-between, $g: 0.5rem, $ai: start);
  border: 1px solid white;
  flex-direction: column;
  max-width: 16rem;
  width: 100%;
  height: 18rem;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.075),
    20px 20px 20px rgba(0, 0, 0, 0.35);
  background-color: $CBgC;
}

.left-card {
  @include dFlex($jc: start, $g: 0.5rem, $ai: start);
  flex-direction: column;
  max-width: 22rem;
  width: 100%;
  height: 10rem;
  padding: 1rem;
  > div {
    @include dFlex($ai: start);
    flex-direction: column;
    height: 100%;
    width: 100%;
    > div {
      @include dFlex($ai: start, $jc: start);
      width: 100%;
      height: 100%;
      max-height: 6.5rem;
      max-width: 15rem;
      background-color: $CBgC;
      border: none;
      font-size: 1rem;
      color: white;
      resize: none;
      overflow-y: auto;
      &:focus {
        outline: none;
        border-color: transparent;
      }
      &::-webkit-scrollbar {
        scrollbar-width: thin;
      }
      &::-webkit-scrollbar-track {
        background: #3d4b55da; /* Hintergrund der Scrollleiste */
        border-radius: 0.25rem;
      }
      &::-webkit-scrollbar-thumb {
        background: linear-gradient(
          to bottom,
          #364958,
          #4b667a
        ); /* Farbe des Scrollbalkens */
        border-radius: 10px;
      }
      &::-webkit-scrollbar:hover {
        background: #555; /* Farbe des Scrollbalkens beim Hover */
      }
    }
  }
}

.color-White {
  color: white;
}

.headline {
  font-weight: bold;
}

.add-icon-box {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  @include dFlex();
  width: 4rem;
  height: 4rem;
  border: 50%;
  > button {
    @include dFlex();
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    > img:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.side-bar {
  @include dFlex($jc: space-between);
  width: 2rem;
  height: 100%;
  flex-direction: column;
  > button {
    @include dFlex();
    width: 1.5rem;
    height: 1.5rem;
    &:hover {
      cursor: pointer;
    }
    > img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.card-btn {
  min-width: 4rem;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.5rem;
}

.card-btn-box {
  @include dFlex($jc: space-between);
  width: 100%;
}

